.square {
  height: 400px;
  width: 250px;
  background-color: #23395d;
  margin-left: 600px;
  margin-top: 200px;
  border-radius: 20px;
}
body {
  background-color: #1c2e4a;
}
hr {
  background-color: darkgray;
  size: 10px thin;
}
img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
pre {
  margin-left: 20px;
  font-size: 13px;
  color: white;
}
h2:hover {
  cursor: pointer;
}
strong:hover {
  cursor: pointer;
}
